doctype html
html
    head
        title= title
    body
        div.container
            h1.text-center= title
            hr
            div.row
                div.col-2
                    ul.nav.nav-list
                        li.nav-header

                        li.nav-header matchurls
                        li
                            small Stick a matchid in and get the replay URL. Ez.
                        li
                            hr
                        li.nav-header
                            :markdown
                                © [RJ](https://rjackson.me), PROBABLY

                div.col-6.col-offset-1.text-center
                    if error == "timeout"
                        div.alert.alert-block.alert-error.text-left
                            h4 Request took too long!
                            p This could be because:
                            ul
                                li the match ID is invalid
                                li the bot does not have access to the match ID
                                li the Dota 2 network is down
                                li or the bot is under heavy load.
                            p Double check the match ID, and try again!

                    else if error == "invalid"
                        div.alert.alert-error <strong>Invalid match id!</strong> Double check the match ID, and try again!

                    else if error == "notready"
                        div.alert.text-left <strong>Not ready!</strong> My back-end isn't ready to fetch new data. Try again in 5 minutes.

                    if replayUrl
                        if replayState == "REPLAY_AVAILABLE"
                            div.alert.alert-success <strong>Aw yis</strong> I found the replay for match #{matchid}
                            -var dlDisabled = ""

                        else if replayState == "REPLAY_NOT_RECORDED"
                            div.alert.alert-info No replay was recorded for #{matchid} :(
                            -var dlDisabled = "disabled"

                        else if replayState == "REPLAY_EXPIRED"
                            div.alert.alert-info The replay for match #{matchid} has expired. :(
                                -var dlDisabled = "disabled"

                        div.form-group
                            div.input-group
                                if dlDisabled
                                    input.form-control(type="text", value= replayUrl, disabled)
                                    span.input-group-btn
                                        a.btn.btn-primary(href= "http://www.youtube.com/watch?v=MIpPfHCe_4w&t=4") I'm disabled
                                else
                                    input.form-control(type="text", value= replayUrl)
                                    span.input-group-btn
                                        a.btn.btn-primary(href= replayUrl) DOWNLOAD
                            hr

                    form
                        div.form-group.input-group
                            input.form-control(type="text", name="matchid", placeholder="Match ID")
                            span.input-group-btn
                                button.btn.btn-primary(type="submit") Find replay

                    p <strong>The page may take a long time to load</strong> because of how the back-end gathers replay data. If you spam F5 you will be forced to fulfil /u/croatianpride's destiny.
